<p>Folders in this Folder</p>
<ul>
    {{#each folderList}}
        <li><a href="/files/{{this}}">{{this}}</a></li>
    {{/each}}
</ul>
<p>Files in this Folder</p>
<ul>
    {{#each fileList}}
        <li><a href="/play/{{this}}">{{this}}</a></li>
    {{/each}}
</ul>